<% if notice %>
  <div id="notice" class="alert alert-success" role="alert"><%= notice %></div>
<% end %>
<% if alert %>
  <div id="alert" class="alert alert-danger" role="alert"><%= alert %></div>
<% end %>
