<div class="alert alert-danger text-center">
    <h1><%= image_tag('dolphin.png', class: 'inline') %>Double Dolphin<%= image_tag('dolphin.png', class: 'inline') %></h1>
    <span>All dolphins are doubled during the Security Hacked Day for extra fun!</span>
</div>
