<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand no-pad" href="#"><%= image_tag('dolphin.png', class: 'inline') %><%= ENV['APP_TITLE'] || 'Dolphin' %></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle no-pad" data-toggle="dropdown" role="button" aria-expanded="false">
          <%= display_user(current_user) %><span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Re-Authenticate", user_omniauth_authorize_path(:google_oauth2) %></li>
          </ul>
      </li>
    </ul>
  </div>
</nav>
